<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
    <title>Animo Dragnil | Telegram bot</title>
    <link rel="stylesheet" href="styles/style.css" />
    <link rel="shortcut icon" href="bot_pic.png" type="image/x-icon" />
  </head>
  <body>
    <div id="content" class="container" data-markdown="<%= markdown %>"></div>
    <script>
      const markdown = document.querySelector("#content").dataset.markdown;
      document.getElementById("content").innerHTML = marked(markdown);
    </script>
  </body>
</html>
